.container{
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically centers the form */
    height: 50vh;
}

.submit-button{
    width: 100%;
}

.field{
    display: block;
}

.center{
    display: flex;
    justify-content: center;
}