<app-search/>

<div  class="container">

    <div data-test="allPostsFiltered"  *ngIf="postsService.filteredValues$| async as filter">
            <ng-container *ngFor="let post of filter">
                <div data-test="post-container" (click)="goToPost(post.id)">
                    <app-post [post]="post"/>
                </div>
            </ng-container>
    </div>
    
    <div data-test="allPosts" *ngIf="postsService.posts$| async as postsState">
        <ng-container *ngFor="let post of postsState.posts">
            <div data-test="post-container" (click)="goToPost(post.id)">
                <app-post [post]="post"/>
            </div>
        </ng-container>
    </div>
</div>
