<app-search/>

<div class="container">
    <ng-container *ngIf="postsService.filteredValues$| async as filter">
        <ng-container *ngFor="let post of filter">
            <div (click)="goToPost(post.id)">
                <app-post [post]="post"/>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="postsService.posts$| async as postsState">
        <ng-container *ngFor="let post of postsState.posts">
            <div (click)="goToPost(post.id)">
                <app-post [post]="post"/>
            </div>
        </ng-container>
    </ng-container>
</div>
